<header>
	<div class="header">
		<h1 class="header-icon"><a href="/">Kazuki Mark Hagiwara</a></h1>
		   <div class="header-list">
		        <ul>
		          <li><a href="#">EXPERIENCES</a></li>
		          <li><a href="#">EDUCATION</a></li>
		          <li><a href="#">SKILLS</a></li>
		          <li><a href="#">EXPERTISE</a></li>
		          <li><a href="#">CONTACT</a></li>
		        </ul>
		</div>
	</div>
</header>
<div class="experience-wapper">
        <div class="experience-title">
          <h1>PROFESSIONAL EXPERIENCES</h1>
        </div>
        <div class="experience-contents">

        </div>
    </div>
