<!-- gitにあげる前に　１、css/stylesheet.cssに書き直す　２、src="src/images/imagesname"に変更　３、rafからrelに変更　４、hrefの中身をパスに変更　５、top.htmlをindex.htmlに変更-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mark Hagiwara |Mechanical Engineer|</title>
    <link href="application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  	<header>
	    <div class="header">
        <div class="header-container">
          <div class="header-list">
          <ul>
            <li><a href="experience">EXPERIENCES</a></li>
            <li><a href="education">EDUCATION</a></li>
            <li><a href="skills">SKILLS</a></li>
            <li><a href="#">AWARDS</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
          <h1 class="header-icon"><a href="/">Kazuki Mark Hagiwara</a></h1>
        </div>
	      
	    </div>
    </header>
    <div class="top-wapper">
    	<div class="container">
    		<div class="profile-container">
    		</div>
    	</div>
    </div>
    <div class="message-wapper">
    	<div class="container">
    		<h1>Hello! I'm Mark!</h1>
    		<p>I'm a Mechanical Engineer. Welcome to my digital portfolio.</p>
    	</div>
    </div>
    <div class="intro-wapper">
        <div class="intro-title">
          <h1>About me</h1>
        </div>
        <!-- src="src/images/imagesname" -->
        <div class="aboutme-container">
            <img src="IMG_6696.jpg">
          
          <div class="description">
            <p>I was born in NewYork and lived there until 2 years old. After that, our family went back to Japan and I spent most of my childhood there. I lived in Vancouver for three years when I was in high school and moved to California in 2016. Currently, I am an engineering student at Foothill College. I am passionate about engineering, and I love building things!!</p>
          </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer-logo">Kazuki Mark Hagiwara
    </div>
    <div class="footer-info">Mechanical Engineer
    </div>
    <div class="footer-email">Email: lilac.hagikazu@gmail.com</div>
    <div class="footer-sns">
      <a href="https://www.linkedin.com/in/mark-hagiwara-834302183/"target="_blank"><img src="linkedin_icon.png"></a>
      <a href="https://www.youtube.com/channel/UCvTSx-2FzWu-x_wDwKjXN5A"target="_blank"><img src="youtube_icon.png"></a>
      <a href="https://github.com/markhagiwara/new_site"target="_blank"><img src="github_icon.png"></a>
    </div>
  </footer>
</html>



