<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mark Hagiwara |Mechanical Engineer|</title>
    <link href="application.css" ref="stylesheet" type="text/css">
  </head>
  <body>
  	<header>
	    <div class="header">
	      <h1 class="header-icon">Kazuki Mark Hagiwara</h1>
	      <div class="header-list">
	        <ul>
	          <li>EXPERIENCE</li>
	          <li>EDUCATION</li>
	          <li>SKILLS</li>
	          <li>EXPERTISE</li>
	          <li>CONTACT</li>
	        </ul>
	      </div>
	    </div>
    </header>
    <div class="top-wapper">
    	<div class="container">
    		<div class="profile-container">
    		</div>
    	</div>
    <div class="message-wapper">
    	<div class="container">
    		<h1>Hello! I'm Mark!</h1>
    		<p>I'm a Mechanical Engineer. Welcome to my digital portfolio.</p>
    	</div>
    </div>
    </div>
  </body>
</html>