html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

.header {
  height: 90px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #151B54;
  position: fixed;
}

.header-icon {
	float: left;
	padding: 20px 40px;
	color: #151B54;
	font-weight: normal;
}

.header-icon a {
	text-decoration: none;
	color: #151B54;
}

.header-list li {
	float: left;
	padding: 33px 20px;
	color: #151B54;
}

.header-list li a {
	text-decoration: none;
	color: #151B54;
}

.header-list {
	float: right;
}

.container {
	width: 900px;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wapper {
	background-image: url('/image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.message-wapper {
	padding-top: 100px;
	color: #151B54;
}

.message-wapper h1 {
	text-align: center;
	font-weight: normal;
	padding: 0 0 10px 0;
	font-size: 40px
}

.message-wapper p {
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 25px;
	border-bottom: 2px solid #151B54;
}

.intro-title {
	padding: 0 350px 50px 350px;
}

.intro-title h1 {
	text-align: center;
	font-weight: normal;
	border-bottom: 2px solid #151B54;
	color: #151B54;
	
}
.intro-wapper {
	padding: 100px;
	padding-bottom: 500px;
}

.intro-wapper img {
	width: 40%;
	float: left;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experience-wapper {
	padding: 100px 0 100px 0;
}

.experience-title h1 {
	padding: 30px 0 30px 0;
	font-weight: normal;
	color: #151B54;
	text-align: center;
/*	border-bottom: 2px solid #151B54;
	border-top: 2px solid #151B54;*/
	background-color: #EBEDEF;
}

.description {
	text-align: center;
	color: #151B54;
	letter-spacing: 2px;
	padding: 70px 0 0 400px;
}

footer {
	background-color: #2f5167;
	color: #fff;
	height: 100px;
	padding: 70px;
}

.footer-logo {
	font-size: 30px;
}

.footer-info {
}

.footer-email {
	padding: 20px 0 0 0;
	float: left;

}

.footer-sns img {
	width: 5%;
	float: right;
	padding-left: 20px;
	padding-bottom: 10px;
}

.copyright {
	font-size: 15px;
	padding: 5px;
	color:#fff;
	background-color: #2f5167;
}



